<!DOCTYPE html>
<html lang="en" ng-app="busApp">
<head>
    <meta charset="UTF-8">
    <title>Bus Management System</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
</head>
<body>
    <div ng-controller="BusController as busCtrl">
        <h1>Buses</h1>
        <ul>
            <li ng-repeat="bus in busCtrl.buses">
                {{ bus.id }} - {{ bus.route }} - {{ bus.capacity }}
                <button ng-click="busCtrl.removeBus(bus.id)">Remove</button>
            </li>
        </ul>
        <h2>Add New Bus</h2>
        <form ng-submit="busCtrl.addBus()">
            <input type="text" ng-model="busCtrl.newBus.route" placeholder="Route" required><br><br>
            <input type="number" ng-model="busCtrl.newBus.capacity" placeholder="Capacity" required><br><br>
            <button type="submit">Add Bus</button>
        </form>
    </div>

    <script>
        angular.module('busApp', [])
        .controller('BusController', function() {
            var vm = this;
            vm.buses = [
                { id: 1, route: 'Route 1', capacity: 50 },
                { id: 2, route: 'Route 2', capacity: 40 }
            ];

            vm.newBus = {};

            vm.addBus = function() {
                var maxId = Math.max.apply(Math, vm.buses.map(function(bus) { return bus.id; }));
                vm.newBus.id = maxId + 1;

                vm.buses.push(vm.newBus);
                vm.newBus = {};
            };

            vm.removeBus = function(id) {
                vm.buses = vm.buses.filter(function(bus) {
                    return bus.id !== id;
                });
            };
        });
    </script>
</body>
</html>
